.cardDetail .detail {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.cardDetail .detail .contador {
    display: inline;
}
.cardDetail div img {
    width: 350px;
    height: 350px;
}
.detailDes {
    font-size: 18px;
}

.detailDescrip {
    font-size: 15px;
}

@media (max-width: 768px) {
    .cardDetail div img {
        width: 200px;
        height: 200px;
    }
}
