/* ESTILOS DEL CONTENEDOR DE LOS ARITCULOS HECHOS CON GRID y FLEX */
.mainOffers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 2px;
    margin-left: 200px;
    margin-right: 200px;
}
.mainOffers .longCard {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    text-align: center;
    padding: 2px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px 0px;
}
.mainOffers .longCard img {
    width: 150px;
    height: 150px;
}
.mainOffers .longCard .descrip {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.mainOffers .longCard .descrip , #mainOffers .longCard .descrip span {
    color: black;
    font-family: "Archivo", sans-serif;
    font-size: 15px;
}


@media (max-width: 768px) {

    .mainOffers {
        display: flex;
        flex-direction: column;
        gap: 2px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .mainOffers .longCard {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
        text-align: center;
        padding: 2px;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px 0px;
    }
    .mainOffers .longCard img {
        width: 150px;
        height: 150px;
    }
    .mainOffers .longCard .descrip {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .mainOffers .longCard .descrip , #mainOffers .longCard .descrip span {
        color: black;
        font-family: "Archivo", sans-serif;
        font-size: 15px;
    }
    
}